#alert-thank {
    position: fixed;
    top: 150px;
    right: 0;
}

#alert-ticket {
    position: fixed;
    top: 150px;
    right: 0;
}

#alert-success {
    position: fixed;
    top: 150px;
    right: 0;
}