<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard | BusLive</title>

  <!-- Core Css -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  <link rel="stylesheet" href="../../main/plugins/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="../../main/dist/css/adminlte.min.css" />
  <!-- /Core Css -->

  <!-- Core JS -->
  <script src="../../main/plugins/jquery/jquery.min.js"></script>
  <script src="../../main/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../main/plugins/chart.js/Chart.min.js"></script>
  <script src="../../main/dist/js/adminlte.min.js"></script>
  <script data-require="angular.js@*" data-semver="1.3.0-beta.5"
    src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
  <!-- /Core JS -->

  <!-- Page JS -->
  <script src="../../main/dist/js/pages/main.js"></script>
  <!-- /Page JS -->

</head>

<body class="hold-transition sidebar-mini" ng-app="adminApp">
  <div class="wrapper" ng-controller="switchCtrl">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a class="nav-link" ng-click="backHome()">Home</a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <li class="nav-item">
          <a class="nav-link" data-widget="navbar-search" href="#" role="button">
            <i class="fas fa-search"></i>
          </a>
          <div class="navbar-search-block">
            <form class="form-inline">
              <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                  <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                  <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="layout.html" class="brand-link">
        <img src="../../main/dist/img/icon.png" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">BusLive</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="" class="img-circle elevation-2">
          </div>
          <div class="info">
            <a href="#" class="d-block">Lê Quang Huy</a>
          </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
          <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-sidebar">
                <i class="fas fa-search fa-fw"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item menu-open" ng-click="switchMenu('dashboard');">
              <a href="#" class="nav-link active" id="dashboard">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>

            <li class="nav-item menu-open" ng-click="switchMenu('employee');">
              <a href="#" class="nav-link" id="employee">
                <i class="nav-icon fas fa-user"></i>
                <p>
                  Employee
                </p>
              </a>
            </li>

            <li class="nav-item menu-open" ng-click="switchMenu('garages');">
              <a href="#" class="nav-link" id="garages">
                <i class="nav-icon fas fa-user"></i>
                <p>
                  Garages
                </p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Page content -->
    <div class="content-wrapper">
      <!-- Header content-->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">{{ template.name }}</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#" ng-click="backHome()">Home</a></li>
                <li class="breadcrumb-item active">{{ template.name }}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- /Header content-->

      <div ng-include="template.url">
      </div>
    </div>
    <!-- /Page content -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <strong>Copyright &copy; 2021 <a href="index.html">BusLive</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
      </div>
    </footer>
    <!-- /Main Footer -->

  </div>
</body>

</html>