<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BusLive | Forgot Password</title>

    <!-- Core Css -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <link rel="stylesheet" href="../../main/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../main/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="../../main/dist/css/adminlte.min.css">
    <!-- /Core Css -->

    <!-- Core JS -->
    <script src="../../main/plugins/jquery/jquery.min.js"></script>
    <script src="../../main/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../main/dist/js/adminlte.min.js"></script>
    <script src="../../main/plugins/particles/particles.js"></script>
    <!-- /Core JS -->

</head>

<body class="login-page" style="min-height: 332.391px;" id="particles-js">
    <div class="login-box">
        <div class="login-logo">
            <b>Bus</b>Live
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

                <form action="recover-password.html" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                        </div>
                    </div>
                </form>

                <p class="mt-3 mb-1">
                    <a href="login.html">Login</a>
                </p>
                <p class="mb-0">
                    <a href="register.html" class="text-center">Register a new membership</a>
                </p>
            </div>
        </div>
    </div>

</body>

</html>