<p> BusLive : TERMS OF WEBSITE USE<br>
    This page (together with the documents referred to on it) tells you the terms of use on which
    you may make use of<br>
    our website [sitexekhach.com] ("Website"), whether as a guest or a registered user.
    Please read these<br>
    Terms of Website Use carefully before you start to use the Website. By using our Website, you
    indicate that you<br>
    accept these Terms of Website Use and that you agree to abide by them. If you do not agree to
    these Terms of<br>
    Website Use, please refrain from using our Website.<br>
    INFORMATION ABOUT US<br>
    [sitexekhach.com] is a site operated by [BusLive] ("We"). We are a [0934385143] company
    registered in [0934385143] under company number [0934385143] and have our registered
    office at [0934385143]. Our main trading address is [Insert if applicable]. Our VAT number is [0934385143].<br>
    ACCESSING OUR WEBSITE<br>
    Access to our Website is permitted on a temporary basis, and we reserve the right to amend the
    information or
    withdraw the services we provide on our Website without notice (see below). We will not be
    liable if for any reason
    our Website is unavailable at any time or for any period.<br>
    You are responsible for making all arrangements necessary for you to have access to our Website.
    You are also
    responsible for ensuring that all persons who access our Website through your internet
    connection are aware of
    these terms, and that they comply with them.<br>
    INTELLECTUAL PROPERTY RIGHTS<br>
    We are the owner or the licensee of all intellectual property rights in our Website (including
    but not limited to the
    services other intellectual property rights offered on or via the Website) and in the material
    published on it. Those
    works are protected by copyright laws, and treaties around the world. All such rights are
    reserved.<br>
    You may print off one copy, copy and may download extracts, of any page(s) from our Website for
    your personal
    reference and you may draw the attention of others within your organisation to material posted
    on our Website.<br>
    You must not modify the paper or digital copies of any materials you have printed off copied or
    downloaded in any
    way, and you must not use any illustrations, photographs, video or audio sequences or any
    graphics separately
    from any accompanying text.<br>
    Our status (and that of any identified contributors) as the authors of material on our Website
    must always be
    acknowledged.<br>
    You must not use any part of the materials on our Website for commercial purposes without
    obtaining a licence to
    do so from us or our licensors.<br>
    If you print off, copy or download any part of our Website in breach of these Terms of Website
    Use, your right to
    use our Website will cease immediately and you must, at our option, return or destroy any copies
    of the materials
    you have made whether modified or unmodified.<br>
    RELIANCE ON INFORMATION POSTED<br>
    Commentary and other materials posted on our Website are not intended to amount to advice on
    which reliance
    should be placed. We therefore disclaim all liability and responsibility arising from any
    reliance placed on such
    materials by any visitor to our Website, or by anyone who may be informed of any of its
    contents.<br>
    OUR WEBSITE CHANGES REGULARLY<br>
    We aim to update our Website regularly, and may change the content at any time. If the need
    arises, we may
    suspend access to our Website, or close it indefinitely. Any of the material on our Website may
    be out of date at
    any given time, and we are under no obligation to update such material.<br>
    OUR LIABILITY<br>
    The material displayed on our Website is provided without any guarantees, conditions or
    warranties as to its
    accuracy or completeness. To the extent permitted by law, We, other members of our group of
    companies and
    third parties connected to us, hereby expressly exclude:<br>
     all conditions, warranties and other terms which might otherwise be implied by statute, law or
    otherwise;<br>
     any liability whatsoever incurred by any user in connection with our Website or in connection
    with the
    use, inability to use, or results of the use of our Website, any websites linked to it and any
    materials
    posted on it, including, without limitation any liability for:<br>
    o direct, indirect or consequential loss or damage;<br>
    o loss of income or revenue;<br>
    o loss of business;<br>
    o loss of profits or contracts;<br>
    o loss of anticipated savings;<br>
    o loss of data;<br>
    o loss of goodwill;<br>
    o wasted management or office time;<br>
    o for any other loss or damage of any kind, however arising and whether caused by infringement
    of general laws (including the omission to act in accordance with reasonable carefulness),
    breach of contract or otherwise, even if foreseeable.<br>
    This does not affect our liability for death or personal injury arising from our negligence, nor
    our liability for
    fraudulent misrepresentation, nor any other liability which cannot be excluded or limited under
    applicable law.<br>
    INFORMATION ABOUT YOU AND YOUR VISITS TO OUR WEBSITE<br>
    We process information about you in accordance with our Privacy Policy [sitexekhach.com/term] and Cookie
    Policy [sitexekhach.com/term]. By using our Website, you consent to such processing and
    you warrant that
    all data provided by you is accurate and complete.<br>
    [SERVICES] PROVIDED THROUGH OUR WEBSITE<br>
    [Services] provided through the use of our Website shall be governed by the Terms and Conditions
    [Insert link to
    the Terms and Conditions].<br>
    UPLOADING MATERIAL TO OUR WEBSITE<br>
    Whenever you make use of a feature that allows you to upload material to our Website, or to make
    contact with
    other users of our Website, you must comply with the Content Standards set out below. You
    confirm that any
    such Contribution does comply with those standards, and you indemnify us for any failure to
    comply.<br>
    Any material you upload to our Website will be considered non-confidential and non-proprietary,
    and we have the
    right to use, copy, distribute and disclose to third parties any such material for any purpose.
    We also have the
    right to disclose your identity to any third party who is claiming that any material posted or
    uploaded by you to our
    Website constitutes a violation of their intellectual property rights, breach of their
    confidential information or of
    their right to privacy.<br>
    We will not be responsible, or liable to any third party, for the content or accuracy of any
    materials posted by you
    or any other user of our Website.<br>
    We have the right to remove any material or posting you make on our Website if, in our opinion,
    such material
    does not comply with the Content Standards set out below.<br>
    PROHIBITED USES<br>
    You may use our Website only for lawful purposes. You may not use our Website:<br>
     in any way that breaches any applicable law or regulations;<br>
     in any way that is unlawful or fraudulent, or has unlawful or fraudulent purpose or effect;<br>
     for the purpose of harming or attempting to harm any individual in any way;<br>
     to send, receive, upload, download, use or re-use any material which does not comply with our
    Content
    Standards set out below;<br>
     to transmit, or procure the sending of, any unsolicited or unauthorised advertising or
    promotional material
    or any other form of similar solicitation (spam);<br>
     to create liability for us in any way; or in any way that causes us to lose (in whole or in
    part) the services
    of our ISPs or other suppliers;<br>
     to knowingly transmit any data, send or upload any material that contains viruses, Trojan
    horses, worms,
    time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer
    code designed to adversely affect the operation of any computer software or hardware.<br>
    You also agree:<br>
     not to reproduce, duplicate, copy or re-sell any part of our Website in contravention of any
    of the
    provisions in these Terms of Website Use;<br>
     not to access without authority, interfere with, damage or disrupt:<br>
    o any part of our Website;<br>
    o any equipment or network on which our Website is stored;<br>
    o any software used in the provision of our Website; or<br>
    o any equipment or network or software owned or used by any third party.<br>
    CONTENT STANDARDS<br>
    These content standards ("Content Standards") apply to any and all material which you contribute
    to our
    Website ("Contributions"), and to any interactive services associated with the Website.<br>
    You must comply with the spirit and the letter of the following standards. The standards apply
    to each part of any
    Contribution as well as to its whole.
    Contributions must:<br>
     be accurate (where they state facts);<br>
     be genuinely held (where they state opinions);<br>
     comply with applicable law in Belgium and in any country from which they are posted.<br>
    Contributions must not:<br>
     contain any material which is defamatory of any person or which is obscene, offensive, hateful
    or
    inflammatory;<br>
     promote violent or sexually explicit material;<br>
     promote discrimination based on race, sex, religion, nationality, disability, sexual
    orientation or age;<br>
     infringe any copyright, database right or trade mark of any other person;<br>
     be false, inaccurate or likely to deceive or mislead any person;<br>
     be made in breach of any legal duty owed to a third party, such as a contractual duty or a
    duty of
    confidence;<br>
     promote any illegal activity;<br>
     be threatening, abuse or invade another’s privacy, or cause annoyance, inconvenience or
    needless
    anxiety;<br>
     be likely to harass, upset, embarrass, alarm or annoy any other person;<br>
     be used to impersonate any person, or to misrepresent your identity or affiliation with any
    person;<br>
     give the impression that they emanate from us, if this is not the case;<br>
     advocate, promote or assist any unlawful act such as (by way of example only) copyright
    infringement or
    computer misuse;<br>
     link directly or indirectly to or include descriptions of goods or services that are
    prohibited under these
    Terms of Website Use.<br>
    SOFTWARE DOWNLOADS<br>
    [To be confirmed whether any software downloads will be required] The use of any software
    downloads
    made available from our Website will be subject to the terms and conditions of the end user
    licence agreement
    associated with such software. By downloading, installing, modifying, copying or by otherwise
    using such software
    you indicate your acceptance of the terms and conditions of the associated end user licence
    agreement.<br>
    VIRUSES, HACKING AND OTHER OFFENCES<br>
    You must not misuse our Website by knowingly introducing viruses, trojans, worms, logic bombs or
    other material
    which is malicious, technologically harmful or designed to disrupt the current operation of our
    Website. You must
    not attempt to gain unauthorised access to our Website, the server on which our Website is
    stored or any server,
    computer or database connected to our Website. You must not attack our Website via a
    denial-of-service attack
    or a distributed denial-of service attack.
    We may report any breach under these Terms of Website Use to the relevant law enforcement
    authorities and we
    will co-operate with those authorities by disclosing your identity to them. In the event of such
    a breach, your right
    to use our Website will cease immediately.
    We will not be liable for any loss or damage caused by a distributed denial-of-service attack,
    viruses or other
    technologically harmful material that may infect your computer equipment, computer programs,
    data or other
    proprietary material due to your use of our Website or to your downloading of any material
    posted on it, or on any
    website linked to it.<br>
    LINKING AND FRAMING<br>
    You may link to our home page, provided you do so in a way that is fair and legal and does not
    damage our
    reputation or take advantage of it, but you must not establish a link in such a way as to
    suggest any form of
    association, approval or endorsement on our part where none exists.
    You must not establish a link from any website that is not owned by you.
    Our Website must not be framed on any other Website, nor may you create a link to any part of
    our Website other
    than the home page. We reserve the right to withdraw linking permission without notice. The
    website from which
    you are linking must comply in all respects with the Content Standards.
    If you wish to make any use of material on our Website other than that set out above, please
    address your
    request to [0934385143].<br>
    LINKS FROM OUR WEBSITE<br>
    Where our Website contains links to other websites and resources provided by third parties,
    these links are
    provided for your information only. If you use these links, you will leave our Website. We have
    not reviewed these
    third party websites and we have no control over the contents of those websites or resources,
    and accept no
    responsibility for them or for any loss or damage that may arise from your use of them. We do
    not endorse or
    make any warranties or representations about the other websites, or any information, software or
    other products
    or materials found there, or any results that may be obtained from using them. If you decide to
    access any of the
    third party websites linked to our Website, you do this entirely at your own risk.<br>
    SUSPENSION AND TERMINATION<br>
    We will determine, in our discretion, whether there has been a breach of these Terms of Website
    Use. Where a
    breach has occurred, we may take such action as we deem appropriate.
    Failure to comply with these Terms of Website Use constitutes a material breach of the terms
    upon which you are
    permitted to use our Website, and may result in our taking all or any of the following actions:<br>
     immediate, temporary or permanent withdrawal of your right to use our Website;<br>
     immediate, temporary or permanent removal of any posting or material uploaded by you to our
    Website;<br>
     issue a warning to you;<br>
     legal proceedings against you for reimbursement of all costs on an indemnity basis (including,
    but not
    limited to, reasonable administrative and legal costs) resulting from the breach;<br>
     further legal action against you;<br>
     disclosure of such information to law enforcement authorities as we reasonably feel is
    necessary.<br>
    We exclude liability for actions taken in response to breaches of these Website Terms of Use.
    The responses
    described in these Website Terms of Use are not limited, and we may take any other action we
    reasonably deem
    appropriate.<br>
    JURISDICTION AND APPLICABLE LAW<br>
    The Belgian courts will have exclusive jurisdiction over any claim arising from, or related to,
    a visit to our Website
    although we retain the right to bring proceedings against you for breach of these conditions in
    your country of
    residence or any other relevant country.
    These Terms of Website Use and any dispute or claim arising out of or in connection with them or
    their subject
    matter or formation (including non-contractual disputes or claims) shall be governed by and
    construed in
    accordance with the laws of Belgium.<br>
    TRADE MARKS<br>
    [BusLive-334323] are the trademarks of [BusLive]. [Note: Please insert
    the relevant
    trademarks that the company has registered]<br>
    VARIATIONS<br>
    We may revise these Terms of Website Use at any time by amending this page. You are expected to
    check this
    page from time to time to take notice of any changes we made, as they are binding on you. Some
    of the
    provisions contained in these Terms of Website Use may also be superseded by provisions or
    notices published
    elsewhere on our Website.<br>
    YOUR CONCERNS<br>
    If you have any concerns about material which appears on our Website, please contact [Insert
    contact details].<br>
    Thank you for visiting our Website.</p>